[Keymapping]
none=
f1=F1
f2=F2
f3=F3
f4=F4
f5=F5
stop=PRIOR
cls=HOME
select=END
ins=INSERT
del=DELETE
esc=ESCAPE
1=1
2=2
3=3
4=4
5=5
6=6
7=7
8=8
9=9
0=0
neg=MINUS
circomflex=EQUALS
backslash=BACKSLASH
backspace=BACK
tab=TAB
q=Q
w=W
e=E
r=R
t=T
y=Y
u=U
i=I
o=O
p=P
at=LBRACKET
leftbracket=RBRACKET
return=RETURN
ctrl=LCONTROL
a=A
s=S
d=D
f=F
g=G
h=H
j=J
k=K
l=L
semicolon=SEMICOLON
colon=APOSTROPHE
rightbracket=GRAVE
leftshift=LSHIFT
z=Z
x=X
c=C
v=V
b=B
n=N
m=M
comma=COMMA
period=PERIOD
div=SLASH
underscore=RCONTROL
rightshift=RSHIFT
caps=CAPITAL
graph=LMENU
torikeshi=LWIN
space=SPACE
jikkou=RWIN
code=RMENU
pause=NUMPADENTER
left=LEFT
up=UP
down=DOWN
right=RIGHT
num7=NUMPAD7
num8=NUMPAD8
num9=NUMPAD9
numdiv=DIVIDE
num4=NUMPAD4
num5=NUMPAD5
num6=NUMPAD6
nummul=MULTIPLY
num1=NUMPAD1
num2=NUMPAD2
num3=NUMPAD3
numsub=SUBTRACT
num0=NUMPAD0
numperiod=DECIMAL
numcomma=NEXT
numadd=ADD
print=SYSRQ
[Keymapping0]
coleco2-0=
coleco2-1=
coleco2-2=
coleco2-3=
coleco2-4=
coleco2-5=
coleco2-6=
coleco2-7=
coleco2-8=
coleco2-9=
coleco2-star=
coleco2-hashmark=
[Keymapping1]
coleco2-0=
coleco2-1=
coleco2-2=
coleco2-3=
coleco2-4=
coleco2-5=
coleco2-6=
coleco2-7=
coleco2-8=
coleco2-9=
coleco2-star=
coleco2-hashmark=
[Keymapping2]
coleco2-0=NUMPAD0
coleco2-1=NUMPAD1
coleco2-2=NUMPAD2
coleco2-3=NUMPAD3
coleco2-4=NUMPAD4
coleco2-5=NUMPAD5
coleco2-6=NUMPAD6
coleco2-7=NUMPAD7
coleco2-8=NUMPAD8
coleco2-9=NUMPAD9
coleco2-star=MULTIPLY
coleco2-hashmark=DIVIDE
[Keymapping-0]
none =
f1 =F1
f2 =F2
f3 =F3
f4 =F4
f5 =F5
stop =PRIOR
cls =HOME
select =END
ins =INSERT
del =DELETE
esc =ESCAPE
1 =1
2 =2
3 =3
4 =4
5 =5
6 =6
7 =7
8 =8
9 =9
0 =0
neg =MINUS
circomflex =EQUALS
backslash =BACKSLASH
backspace =BACK
tab =TAB
q =Q
w =W
e =E
r =R
t =T
y =Y
u =U
i =I
o =O
p =P
at =LBRACKET
leftbracket =RBRACKET
return =RETURN
ctrl =LCONTROL
a =A
s =S
d =D
f =F
g =G
h =H
j =J
k =K
l =L
semicolon =SEMICOLON
colon =APOSTROPHE
rightbracket =GRAVE
leftshift =LSHIFT
z =Z
x =X
c =C
v =V
b =B
n =N
m =M
comma =COMMA
period =PERIOD
div =SLASH
underscore =RCONTROL
rightshift =RSHIFT
caps =CAPITAL
graph =LMENU
torikeshi =LWIN
space =SPACE
jikkou =RWIN
code =RMENU
pause =NUMPADENTER
left =LEFT
up =UP
down =DOWN
right =RIGHT
num7 =NUMPAD7
num8 =NUMPAD8
num9 =NUMPAD9
numdiv =DIVIDE
num4 =NUMPAD4
num5 =NUMPAD5
num6 =NUMPAD6
nummul =MULTIPLY
num1 =NUMPAD1
num2 =NUMPAD2
num3 =NUMPAD3
numsub =SUBTRACT
num0 =NUMPAD0
numperiod =DECIMAL
numcomma =NEXT
numadd =ADD
print =SYSRQ
joy1-up =
joy1-down =
joy1-left =
joy1-right =
joy1-button1 =
joy1-button2 =
joy1-button3 =
joy1-button4 =
joy1-button5 =
joy1-button6 =
joy2-up =
joy2-down =
joy2-left =
joy2-right =
joy2-button1 =
joy2-button2 =
joy2-button3 =
joy2-button4 =
joy2-button5 =
joy2-button6 =
coleco1-0 =
coleco1-1 =
coleco1-2 =
coleco1-3 =
coleco1-4 =
coleco1-5 =
coleco1-6 =
coleco1-7 =
coleco1-8 =
coleco1-9 =
coleco1-star =
coleco1-hashmark =
coleco2-0 =
coleco2-1 =
coleco2-2 =
coleco2-3 =
coleco2-4 =
coleco2-5 =
coleco2-6 =
coleco2-7 =
coleco2-8 =
coleco2-9 =
coleco2-star =
coleco2-hashmark =
[Keymapping-1]
none =
f1 =
f2 =
f3 =
f4 =
f5 =
stop =
cls =
select =
ins =
del =
esc =
1 =
2 =
3 =
4 =
5 =
6 =
7 =
8 =
9 =
0 =
neg =
circomflex =
backslash =
backspace =
tab =
q =
w =
e =
r =
t =
y =
u =
i =
o =
p =
at =
leftbracket =
return =
ctrl =
a =
s =
d =
f =
g =
h =
j =
k =
l =
semicolon =
colon =
rightbracket =
leftshift =
z =
x =
c =
v =
b =
n =
m =
comma =
period =
div =
underscore =
rightshift =
caps =
graph =
torikeshi =
space =
jikkou =
code =
pause =
left =
up =
down =
right =
num7 =
num8 =
num9 =
numdiv =
num4 =
num5 =
num6 =
nummul =
num1 =
num2 =
num3 =
numsub =
num0 =
numperiod =
numcomma =
numadd =
print =
joy1-up =UP
joy1-down =DOWN
joy1-left =LEFT
joy1-right =RIGHT
joy1-button1 =SPACE
joy1-button2 =LMENU
joy1-button3 =
joy1-button4 =
joy1-button5 =
joy1-button6 =
joy2-up =
joy2-down =
joy2-left =
joy2-right =
joy2-button1 =
joy2-button2 =
joy2-button3 =
joy2-button4 =
joy2-button5 =
joy2-button6 =
coleco1-0 =0
coleco1-1 =1
coleco1-2 =2
coleco1-3 =3
coleco1-4 =4
coleco1-5 =5
coleco1-6 =6
coleco1-7 =7
coleco1-8 =8
coleco1-9 =9
coleco1-star =MINUS
coleco1-hashmark =EQUALS
coleco2-0 =
coleco2-1 =
coleco2-2 =
coleco2-3 =
coleco2-4 =
coleco2-5 =
coleco2-6 =
coleco2-7 =
coleco2-8 =
coleco2-9 =
coleco2-star =
coleco2-hashmark =
[Keymapping-2]
none =
f1 =
f2 =
f3 =
f4 =
f5 =
stop =
cls =
select =
ins =
del =
esc =
1 =
2 =
3 =
4 =
5 =
6 =
7 =
8 =
9 =
0 =
neg =
circomflex =
backslash =
backspace =
tab =
q =
w =
e =
r =
t =
y =
u =
i =
o =
p =
at =
leftbracket =
return =
ctrl =
a =
s =
d =
f =
g =
h =
j =
k =
l =
semicolon =
colon =
rightbracket =
leftshift =
z =
x =
c =
v =
b =
n =
m =
comma =
period =
div =
underscore =
rightshift =
caps =
graph =
torikeshi =
space =
jikkou =
code =
pause =
left =
up =
down =
right =
num7 =
num8 =
num9 =
numdiv =
num4 =
num5 =
num6 =
nummul =
num1 =
num2 =
num3 =
numsub =
num0 =
numperiod =
numcomma =
numadd =
print =
joy1-up =
joy1-down =
joy1-left =
joy1-right =
joy1-button1 =
joy1-button2 =
joy1-button3 =
joy1-button4 =
joy1-button5 =
joy1-button6 =
joy2-up =Q
joy2-down =
joy2-left =W
joy2-right =E
joy2-button1 =
joy2-button2 =A
joy2-button3 =
joy2-button4 =
joy2-button5 =
joy2-button6 =
coleco1-0 =
coleco1-1 =
coleco1-2 =
coleco1-3 =
coleco1-4 =
coleco1-5 =
coleco1-6 =
coleco1-7 =
coleco1-8 =
coleco1-9 =
coleco1-star =
coleco1-hashmark =
coleco2-0 =NUMPAD0
coleco2-1 =NUMPAD1
coleco2-2 =NUMPAD2
coleco2-3 =NUMPAD3
coleco2-4 =NUMPAD4
coleco2-5 =NUMPAD5
coleco2-6 =NUMPAD6
coleco2-7 =NUMPAD7
coleco2-8 =NUMPAD8
coleco2-9 =NUMPAD9
coleco2-star =MULTIPLY
coleco2-hashmark =DIVIDE
